.services {
    margin-top: 5%;
}

.slider {
    position: relative;
}

.slider__container {
    cursor: grab;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slider__container.dragging {
    scroll-behavior: auto;
    cursor: grabbing;
}

.slider__container::-webkit-scrollbar {
    display: none;
}

.slider__item {
    padding: 16px 8px;
    flex: 0 0 auto;
    width: calc(100% / 5);
}

.slider__container[data-step="4"] .slider__item {
    width: calc(100% / 4);
}

.slider__container[data-step="3"] .slider__item {
    width: calc(100% / 3);
}

.slider__container[data-step="2"] .slider__item {
    width: calc(100% / 2);
}

.slider__container[data-step="1"] .slider__item {
    width: calc(100% / 1);
}

@media screen and (max-width: 1024px) {

    .slider__item,
    .slider__container[data-step="4"] .slider__item {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 768px) {

    .slider__item,
    .slider__container[data-step="4"] .slider__item,
    .slider__container[data-step="3"] .slider__item {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 480px) {

    .slider__item,
    .slider__container[data-step="4"] .slider__item,
    .slider__container[data-step="3"] .slider__item,
    .slider__container[data-step="2"] .slider__item {
        width: calc(100% / 1);
    }
}

.slider__control {
    font-size: 16px;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #000;
    background: #fff;
    cursor: pointer;
    opacity: .5;
    transition: all .3s;
}

.slider__control.prev {
    left: 16px;
}

.slider__control.next {
    right: 16px;
}

.slider__control:hover {
    opacity: 1;
    transform: translateY(-50%) scale(1.2);
}

.slider__item img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
    border-radius: 3%;
}

.servicesButton {
    text-align: center;
    margin-top: 5%;
}

.buttons {
    position: absolute;
    right: 20px;
}

.button2 {
    position: relative;
    margin: 0;
    padding: 0.8em 1em;
    outline: none;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
    border: 0.5px rgb(159, 159, 159) solid;
    text-transform: uppercase;
    background: transparent;
    border-radius: 0px;
    color: black;
    font-weight: 300;
    font-size: 14px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: transform 0.7s ease-in-out;
}

.button2:hover{
    background-color: rgb(155, 155, 155);
    color: white;
    transform: scale(1.1);
    border: 0.5px rgb(73, 73, 73) solid;
}

#servicesh1 {
    text-align: center;
    font-size: 30px;
}